<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  <!--keyleri değiştirmeyiniz , sadece  value="BURAYA YAZINIZ" -->
      <add key="Min"   value="15"   /> <!--15 DK Olarak Ayarlanmıştır  -->
	  <add key="EMAIL" value=""     /> <!-- EMAIL = Gönderici Mail Adresi-->	 
	  <add key="PASS"  value=""     /> <!-- PASS = Gönderici Mail Adresinin Şifresi -->   
	  <add key="HOST"  value=""     /> <!-- HOST = Gönderici Mail Adresinin HOST Adresi. -->	  
	  <add key="PORT"  value=""     /> <!-- PORT = SMTP Portunu Belirleyiniz -->	  
	  <add key="SSL"   value=""     /> <!-- SSL = SSL true / false Olarak Belirleyiniz -->	  
	  <add key="Key"   value="0"    /> <!-- Key = "0" İse Mail Atmayacak, "1" İse Mail Atacak -->	  
	  <add key="To"    value=""     /> <!-- To = Alıcı Mail Adreslerini Aralarında "," İle Ayırarak Belirleyin -->	  
	  <add key="TESIS_ADI" value="" /> <!-- TESIS_ADI = Hastane'nin Adını Belirleyiniz  -->	  
	  <add key="Separator" value="|"/> <!-- Cihaz_Listesi İçerisinde CİHAZ ADI İLE  İP ADRESİNİ Ayıracak Olan Ayırıcı Karakteri Belirleyin -->
	  
	  
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>